@charset "UTF-8";
html {
		height: 100%;
	}
	body {
		margin: 0;
		font-size: 0pt;
		height: 100%;
		min-width: 1200px;
	}
	.top {
		height: 40px;
		box-shadow: 1px 0px 8px #444;
	}
	.left {
		display: inline-block;
		vertical-align: top;
		width: 199px;
		height: calc(100% - 40px);
		border-right: 1px solid #A9A9A9;
	}
	.con {
		display: inline-block;
		vertical-align: top;
		width: calc(100% - 200px);
		min-width: 1000px;
		height: calc(100% - 40px);
	}
	.top, .left, .con {
		font-size: 14pt;
	}